*{
    background-color: var(--main-bg);
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--main-white);      
}

body::-webkit-scrollbar {
    display: none;
  }
  
.container {
    height: 100%;
    width: 100%;
    display: flex;
    margin-bottom: 2%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 100%;
}

.Headline {
    grid-column: 1 / 4;    
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1%;
}

.Nassef, .Abrar, .Job, .Albert, .Søren, .Calle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--grid-area);
    border-radius: 1.5rem;
    padding: 5%;
    text-decoration: no;
}

.Nassef p, .Abrar p, .Job p, .Albert p, .Søren p, .Calle p {
    background-color: transparent;
}

.profileIMG {
    width: 55%;
    height: auto;
    object-fit: cover;
    border-radius: 11rem;
}

.headlineIMG {
    width: 10%;
    height: auto;
    object-fit: cover;
    border-radius: 50rem;
}
  